.navdiv{

    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 80%;
    height: 50px;
}

.logo{

}

.ITEM{
    font-size: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}